<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body>
    <style>


 /* Reset some default browser styles */
 body, h1, h2, h3, p, ul, li {
  margin: 0;
  margin-top: 2%;
  padding: 0;
  text-align: center;
  text-decoration: solid;
  color: black;
}

        /* Apply some basic styling to the form */
.log {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
}

.log form {
  display: flex;
  flex-direction: column;
}

.log input, .log button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.log button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.log button:hover {
  background-color: #45a049;
}

    </style>
    <h1>Login Form</h1>
    <%
    if( typeof message != 'undefined'){
     %>
     <p style="color: red;"><%= message %></p>

     <%
    }
 %>
 <div class="log">
 <form action="/" method="post">
 <input type="email" name="email"  placeholder="enter your email" required><br><br>
 <input type="password" name="password"  placeholder="enter your password" required><br><br>
 <button type="submit">Login</button>
</form>
</div>
</body>
</html>